__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store
*.log

.env
.env.*
!.env.example
apis.txt

/outputs/
/src/__pycache__/
/src/output/
/voiceover_app/node_modules/
/voiceover_app/.env
/voiceover_app/build/

/data/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
